<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
      <div id="header">
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
          <hr>
        </div>
        
        <div id="title">
          <center>
          <h1 id="name"> Plunder Island </h1>
          <button onclick="getName()"> Generate! </button>
          </center>
        </div>

       <script>
         function getName() 
          {
          let seqType = Math.floor(Math.random() * 9);
          let a = ['Blackened', 'Broken', 'Concealed', 'Dreaded', 'Fancy', 'Grand', 'Hidden', 'Mystic', 'Plentiful', 'Ravaged', 'Royal', 'Salted', 'Scorched', 'Secluded', 'Secret', 'Splenid', 'Stolen', 'Sunken', 'Sweet', 'Wrecked'];
          let b = ["Barracuda's", "Captain's", "Dragon's", "Guild's", "Hunter's", "Kraken's", "Maiden's", "Mermaid's", "Order's", "Parrot's", "Raider's", "Sailor's", "Shark's", "Shipwreck's", "Siren's", "Storm's", "Thieve's", "Triton's", "Turtle's", "Wanderer's"];
          let c = ['Asylum', 'Bounty', 'Den', 'Fort', 'Gem', 'Harbor', 'Haven', 'Hideout', 'Hold', 'Jewel', 'Keep', 'Port', 'Refuge', 'Rest', 'Retreat', 'Sanctuary', 'Shelter', 'Stronghold', 'Treasure', 'Trove'];
          let d = ['Archipelago', 'Atol', 'Bay', 'Bluffs', 'Cliffs', 'Cove', 'Crag', 'Enclave', 'Groves', 'Hollow', 'Island', 'Isle', 'Lagoon', 'Peninsula', 'Reef', 'Ridge', 'Rock', 'Sands', 'Shallows', 'Shores'];
          let e = ['amidst the Maelstroms', 'between the Waves', 'in the Mists', 'in the Shadows', 'of a Thousand Coins', 'of Plentiful Riches', 'of Skulls ', 'of the Countless Wrecks', 'of the Cursed', 'of the Damned', 'of the Depths', 'of the Homesick', 'of the Lawless', 'of the Lost Souls', 'of the Moon', 'of the Raven', 'of the Sunset', 'of the Sweet Embrace', 'of the Tides', 'of Whispers'];

          let r1 = Math.floor(Math.random() * 20);
          let r2 = Math.floor(Math.random() * 20);
          let r3 = Math.floor(Math.random() * 20);

          let sequences = [a[r1] + ' ' + c[r2], a[r1] + ' ' + b[r2] + ' ' + c[r3], a[r1] + ' ' + d[r2], a[r1] + ' ' + b[r2] + ' ' + d[r3], a[r1] + ' ' + c[r2] + ' ' + e[r3], b[r1] + ' ' + d[r2] + ' ' + e[r3], a[r1] + ' ' + d[r2] + ' ' + e[r3], b[r1] + ' ' + e[r2], d[r1] + ' ' + e[r2]];

          document.getElementById("name").innerHTML = sequences[seqType];
            
          }

        </script>
        
        {{ content }}
                </section>

              </div>

              {% if site.google_analytics %}
                <script>
                  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                  ga('create', '{{ site.google_analytics }}', 'auto');
                  ga('send', 'pageview');
      </script>
    
    
    {% endif %}
  </body>
</html>
